.container {
  background-color: white;
  height: 100%;
  overflow: hidden;
  :global(.ant-pro-form-login-page-logo) {
    height: 109px;
    width: 122px;
    margin-left: 15px;
  }
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}